@font-face {
   font-family: 'Lato-Regular';
   font-display: swap;
   src: url('file:///C:/Users/RICARDO/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-24_093522/fonts/Lato-Regular/font.ttf');
}
